@import "tailwindcss";

@theme {
  /* Colors */
  --color-green: #07b9aa;
  --color-dark-blue: #032427;
  --color-yellow: #ffb52c;
  --color-red: #f24822;
  --color-high: #ff452c;
  --color-gray: #d9d9d9;
  --color-gray-2: #f5f4f4;
  --color-gray-3: #757575;
  --color-gray-4: #f4f4f4;
  --color-light-gray: #fafafa;
  --color-blue: #0d99ff;

  /* Spacing */
  --spacing-350: 350px;
  --spacing-400: 400px;
  --spacing-420: 420px;
  --spacing-440: 440px;
  --spacing-480: 480px;
  --spacing-500: 500px;
  --spacing-1536: 1536px;
}
