@import "tailwindcss";

@theme {
  /* Colors */
  --color-green: #07b9aa;
  --color-dark-blue: #032427;
  --color-yellow: #ffb52c;
  --color-red: #f24822;
  --color-high: #ff452c;
  --color-gray: #d9d9d9;

  /* Spacing */
  --spacing-400: 400px;
  --spacing-440: 440px;
  --spacing-500: 500px;
  --spacing-1536: 1536px;
}
